
@{
    ViewBag.Title = "Search";
}

<h2>Search for Song by Id</h2>

<div class="col-md-10">
    <input type="text" id="BookId" size="5" />
    <input type="submit" name="SearchButton" id="SearchButton" value="Search" />
</div> 
<br/>
<div id="divProcessing">
    <p>Processing, Please wait</p>
</div>
<br/>
<div id="divResult"><</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">

    $(document).ready(function (){
        $("#divProcessing").hide();
        $('#SearchButton').click(function () {
            search();
        });
    });

    function search() {
        $("#divResult").empty();
        $("#divProcessing").show();
        var SongId = $("#SongId").val();
        var url = "../api/Songs/" + SongId;
        $.ajax({
            url: url,
            type: "GET", 
            dataType: "json",
            success: function (resp) {
                $("divProcessing").hide();
                $("<h3>Result</h3>").appendTo("#divResult");
                $("#divResult").append("<p>Title: " + resp.Name + "<br/>Album: " + resp.Album + "<br/>");
                $("#divResult").append("Artists:<br/>");
                for (var i = 0; i < resp.Artists.length; i++) {
                    $("#divResult").append(resp.Artists[i].Name + "<br/>");
                }
                $("#divResult").append("</p>");
            }
        })
    }

    </script>
    
}